<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quote_quote_listing_data_source" xsi:type="string">Vaimo\Quote\Model\ResourceModel\Quote\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Vaimo\Quote\Api\QuoteRepositoryInterface"
                type="Vaimo\Quote\Model\QuoteRepository" />

</config>